/* Stili generali */
canvas {
    background: #2c3e50;
    display: block;
    margin: 0 auto;
}

/* Schermata iniziale */
#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

#nicknameInput {
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    font-size: 18px;
}

#playButton {
    padding: 10px 15px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

#minimap {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    background-color: #111;
    z-index: 3; /* Questo la porta sopra l'overlay */
}
/* Overlay scuro */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Oscuramento */
    z-index: 1;
}

#weaponBar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

#weaponBar button {
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
}
