/* Stili generali */
canvas {
    background: #2c3e50;
    display: block;
    margin: 0 auto;
}

/* Schermata iniziale */
#startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    color: white;
    z-index: 2;
}

#nicknameInput {
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    font-size: 18px;
}

#playButton {
    padding: 10px 15px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
}

/* Overlay scuro */
#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Oscuramento */
    z-index: 1;
}
